<!DOCTYPE html>
<html>
<head>
<title>MonkeyPox Chatbot</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<div class="w3-content" style="max-width:1400px">

    <header class="w3-container w3-center w3-padding-32"> 

    <h1><b>MonkeyPox ChatBot </b></h1>
    <p>Welcome to MonkeyPox ChatBot !</p>
    </header>
    <div >

    <div style=" display: flex;" >
    <!-- Blog entry -->
        <div>
            <iframe src='https://webchat.botframework.com/embed/testBot0912am?s=c-OsLoBDDu8.gxL_4DJFFLHbolET3S7p9klQoLOlkRmxkNi6oqS3YlA'  style='min-width: 700px; width: 100%; min-height: 500px;'></iframe>
        </div>
        <div style="display: flex; flex-direction: column; margin-left: 20px;">
            <h5><b><ul><li>Try typing Hi.</li></ul></b></h5>
            <h3>You can try asking the following questions</h3>
            <h5><li>What is Monkey Pox Disease ?</li></h5>
            <h5><li>What are symptoms of monkey pox ?</li></h5>
            <h5><li>Is this Dangerous ?</li></h5>
            <h5><li>What is precaution for this Disease ?</li></h5>
            <h5><li>can children get monkey pox ?</li></h5>
            <h5><li>What should I do If I think I may have monkey pox ?</li></h5>


        </div>
    <!-- END w3-content -->
    </div>
    
    <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">  
    <p>Made By - Arin Goyal</p>
    </footer>
</div>
</body>
</html>